.app-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: calc(100vh - 40px); /* Altura mínima para ocupar el 100% de la ventana menos el margen */
  border: 5px solid #d8bfd8; /* Borde de color lavanda (light purple) */
  border-radius: 10px; /* Bordes redondeados */
  padding: 20px; /* Espacio interior */
  box-sizing: border-box;
  margin: 20px; /* Espacio exterior alrededor del contenedor */
  margin-top: 10px; /* Pequeño espacio en la parte superior */
  background-color: #6f42c1; /* Fondo morado */
}

header {
  width: 100%;
  position: relative; /* Para posicionar la barra de navegación correctamente */
}

.nav-bar {
  background-color: #6f42c1; /* Fondo morado */
  width: 100%;
  position: sticky;
  top: 0;
  padding: 0; /* Elimina el padding para que los enlaces estén pegados al borde */
  margin: 0; /* Elimina el margen para que esté pegado al borde */
}

.nav-links {
  display: flex;
  justify-content: flex-end; /* Alinea los enlaces a la derecha */
  padding: 10px 20px; /* Espacio interior de 10px en la parte superior e inferior */
}

.nav-link {
  text-decoration: none;
  font-weight: bold;
  font-size: 1.2em;
  color: white;
  margin-left: 20px; /* Espacio entre los enlaces */
}

.nav-link:first-child {
  margin-left: 0; /* Elimina el margen izquierdo del primer enlace */
}

.oval-profile {
  width: 120px;
  height: 160px;
  border-radius: 50% / 60%;
}
