body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* src/index.css */
.oval-profile {
  width: 120px;
  height: 160px;
  border-radius: 50% / 60%;
}

/* src/index.css */
.bg-purple {
  background-color: #6f42c1;
  color: white;
}
.oval-profile {
  width: 120px;
  height: 160px;
  border-radius: 50% / 60%;
}
